name: github pages
  
on:
  push:
    branches:
      - master  # 这里是提交到master分支就立即触发job
  pull_request:
  
jobs:
  deploy:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true  # Fetch Hugo themes (true OR recursive)
          fetch-depth: 0    # Fetch all history for .GitInfo and .Lastmod
  
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v2
        with:
          hugo-version: '0.83.1'
  
      - name: Build
        run: hugo --minify
  
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}  # 这里不用动, 默认就好
          publish_dir: ./public  # 注意是hugo的public文件夹
          cname: www.hehan.tech # cname
      
      - name: Deploy Alibaba Cloud
        uses: wlixcc/SFTP-Deploy-Action@v1.2.1 
        with:  
          username: 'root'   #ssh user name
          server: '${{ secrets.SERVER_IP }}' #引用之前创建好的secret
          ssh_private_key: ${{ secrets.SSH_PRIVATE_KEY }} #引用之前创建好的secret
          local_path: './public/*'  # 对应我们项目public的文件夹路径
          remote_path: '/var/www/hugo' # 对应云上的目录
